@model IEnumerable<FirstMVCApplication.Models.Student>



    
 

   

    <h1>Student Index view</h1>
    @* <h2>
            welcome @ViewBag.Name
        </h2>
        <h2>
            From viewdata @ViewData["Username"]
         </h2>
        <hr/>
        <div>
        <h1>View bag scores</h1>
        <ul>
           @foreach(var item in ViewBag.Scores)
            {
            <li>@item</li>
            }
        </ul>
        </div>
        <div>
            <h1>View Data scores</h1>
            <ul>
                @foreach (var item in ((IEnumerable<int>)ViewData["Scores"]))
                {
                <li>@item</li>
                }
            </ul>
        </div>
    <div>
        Student ID:@Model.Id
        <br />
        Student Name:@Model.Name
        <br />
        Student age:@Model.Age
    </div>*@

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Age</td>
            </tr>


    }
</table>